In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_excel("trans_actions.xlsx")
df

      w  a  h  z  k  h.1  l  g  y  b  z.1  b.1  t  p  q  l.1  j  z.2  h.2  m
0     6  1  7  3  7    1  2  7  2  1    2    3  3  5  6    3  1    6    2  2
1     2  3  2  6  4    3  1  7  0  2    7    5  7  2  5    7  4    1    7  3
2     4  1  2  6  7    5  6  7  6  1    3    3  4  3  6    6  3    4    1  3
3     1  5  4  3  6    5  7  6  2  6    6    6  2  7  6    7  0    4    2  6
4     7  1  7  3  4    1  4  7  1  5    6    3  5  5  5    7  0    5    1  6
...  .. .. .. .. ..  ... .. .. .. ..  ...  ... .. .. ..  ... ..  ...  ... ..
2994  7  6  4  1  7    6  5  4  2  3    2    3  4  4  3    2  1    1    6  1
2995  0  7  4  3  7    5  2  7  2  1    6    4  4  5  6    7  1    4    5  3
2996  0  1  2  3  1    4  5  7  4  1    2    3  4  3  7    6  0    2    2  2
2997  0  7  2  3  4    4  2  7  1  7    3    2  4  4  5    7  3    6    1  7
2998  0  7  3  2  2    5  3  4  0  6    2    4  4  5  2    7  5    7    6  3

[2999 rows x 20 columns]